<!DOCTYPE html>
<html lang="uk">
 
 	<head>
		<meta charset="UTF-8"/>
		<title> Сервіс обліку студентів</title>
		<meta name="description"
		  value="Система обліку Студентів навчального закладу"/>
 	
	 	<!--Include Styles-->
 		<link rel="stylesheet"
 			  href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

 		<link rel="stylesheet" href="./css/main.css">
	 	
 	</head>

 	<body>

 		<!--Start Container -->

 		<div class="container">

 			<!-- Start Container -->
				<div class="container">
			
					<!-- Start Header -->
					<div class="row" id="header">
			
						<!-- Logo -->
						<div class="col-xs-8">
							<h1> Cервіс обліку студентів</h1>
						</div>

						<!-- Groups Selector -->
						<div class="col-xs-4" id="group-selector">
							<strong> Група </strong>
							<select>
								<option value=""> Усі студенти</option>
								<option value=""> МТМ - 21, Подоба Віталій (№254)</option>
								<option value=""> МТМ - 22, Корост Андрій (№2512)</option>
							</select>
						</div>
			
				</div>
				<!-- End Header -->

 			<!-- Start SubHeader -->
 	 		<div class="row" id="sub-header">

 	 			<div class="col-xs-12">
 	 				<ul class='nav nav-tabs' role="tablist">
 	 					<li role="presentation" class="active"> <a href="{% url "home" %}"> Студенти</a></li>
	 	 				<li role="presentation"> <a href="/journal"> Відвідування</a> </li>		
 		 				<li role="presentation"> <a href="/groups"> Групи</a></li>
 	 				</ul>	
 	 			</div>
 	 	
 	 		</div>
	 		<!-- End SubHeader -->

 			<!-- Start MainPage Content -->
 			
 			<div class="row" id="content-columns">

 				<div class="col-xs-12" id="content-column">
	 				
 					<!-- Status Message -->
 					<div class="alert alert-warning">
 						Зміни скасовано
 					</div>

	 			</div>

	 			<div class="col-xs-8">
	 				<h2> База студентів </h2>
 				</div>

 				<!-- Add Student Button -->
 				<div class="col-xs-4">
 					<a class="btn btn-primary" href="/students/add">  Додати студента </a>
 				</div>

 					<!-- Start Table -->

 					<div class="col-xs-12" id="content-table"> 				
						
						<!-- Start Students Listing -->
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th data-checkbox="true">№</th>
									<th>Фото</th>
									<th>Прізвище</th>
									<th>Імя</th>
									<th>№білету</th>
									<th>Дії</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td><img src="./img/2.png" height='30' width='30'
											class="img-circle"></td>
									<td><a href="students/1/edit> Пілонов</a></td>
									<td><a href="/students/1/edit">Петро</a></td>
									<td>4329</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle"
													type="button" data-toggle="dropdown">Дія
												<span class="caret"> </span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation">
													<a href="/journal/1"> Відвідування </style</a>
												</li>
												<li role="presentation"> 
													<a href='/students/1/edit'> Редагувати</a>
												</li>
												<li role="presentation">
													<a href="/students/1/delete"> Видалити </a>
												</li>
											</ul>
										</div>
									</td>
								</tr>	
								<tr>
									<td>2</td>
									<td><img src="./img/1.png" height='30' width='30'
											class="img-circle"></td>
									<td><a title="Редагувати" href="/students/2/edit">Корост</a></td>
									<td><a title="Редагувати" href="/students/2/edit">Андрій</a></td>
									<td> 2123</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle"
													type="button" data-toggle="dropdown">Дія
												<span class="caret"> </span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation">
													<a href="/journal/2"> Відвідування </style</a>
												</li>
												<li role="presentation"> <a href='/students/2/edit'>Редагувати</a>
												</li>
												<li role="presentation">
													<a href="/students/2/delete"> Видалити </a>
												</li>
											</ul>
										</div>
									</td>		
								</tr>
								<tr>
									<td>3</td>
									<td><img src="./img/s4.png" height='30' width='30'
											class="img-circle"></td>
									<td><a title="Редагувати" href="/students/3/edit">Анисов</a></td>
									<td><a title="Редагувати" href="/students/3/edit">Сергій</a></td>
									<td>5121</td>
									<td>

										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle"
													type="button" data-toggle="dropdown">Дія
												<span class="caret"> </span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation">
													<a href="/journal/3"> Відвідування </style</a>
												</li>
												<li role="presentation"> <a href='/students/3/edit'>Редагувати</a>
												</li>
												<li role="presentation">
													<a href="/students/3/delete"> Видалити </a>
												</li>
											</ul>
										</div>

									</td>
								</tr>
							</tbody>
						</table>	
					
						<!--Start Navigation -->
						<nav>
							<ul class="pagination">
								<li> <a href="#"> &laquo; </a> </li>
								<li> <a href="#"> 1 </a> </li>
								<li class="active"> <a href="#"> 2 </a> </li>
								<li> <a href="#"> 3 </a> </li>
								<li> <a href="#"> 4 </a> </li>
								<li> <a href="#"> 5 </a> </li>
								<li> <a href="#"> &raquo; </a> </li>
							</ul>	
						</nav>	
						<!-- End Navigation -->

					</div>
					
					<!-- End Students Listing -->

			</div>
			<!-- End Main Page Content -->

			<!-- Start Footer -->	
			<div class="row" id="footer">
				
				<div class="col-xs-12">
					&copy; 2014 Сервіс Обліку Студентів
				</div>
			
			</div>
			<!-- End Footer -->
		
		</div>
		<!-- End Container -->

		<!-- Javascripts Section -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	
	</body>

</html>
			